name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test: # 'test' is the Job ID
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v1

      - name: Set up Python
        run: uv python install

      - name: Install dependencies
        run: uv sync --all-extras

      - name: Run API Server & Tests
        # Start the server in the background then run tests.
        # YAML treats multiple lines after pipe '|' as a string, with line separators preserved.
        # The string will be fed to the shell on the virtual machine.
        run: |  
          uv run uvicorn src.todo_app:app --port 8000 &
          sleep 3  # Wait for the server to start.
          uv run pytest --maxfail=1 --verbose tests/public_api/test_httpbin_*.py tests/todo_app/test_todos.py